body{
    background: white;
}

.body{
    background: rgb(58, 53, 53);
}
.container{
    text-align: center;
}

.remove{
    font-size: 2rem;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: overline;
    text-transform: capitalize;
}

.add{
    font-size: 2rem;
    color: rgb(110, 226, 43);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-transform: lowercase;
}

button{
    font-size: .8rem;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #ededed;
}